#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk
*.sav
#ignore any files in config/, except those in subdirectories.
/config/*
!config/**/*/

#ignore other, specific files and folers
data/
/_maps/map_files/backup/*
/_maps/map_files/**/backup/*
/_maps/map_files/**/*.dmm.backup
/_maps/quicksave/*
/nano/debug.html
*.db
stddef.dm
.atom-build.json
*.sav
Persistent-SS13/
*.sav
*.sav
Science.sav
*.sav
*.sav
*.sav

tools/mapmerge/__pycache__/
