{{if data.shuttle_mode == 0}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>When both a Captain and a Head of Personnel confirm their readiness, the boarding procedure will begin.</H2>
		<br>
		{{if data.cap_confirmed == 0}}
			<b>Captain Confirmation:</b>
			<br>
			{{:helper.link('Confirm', '', {'choice' : 'confirm_departure_cap'}, !data.is_captain ? 'disabled' : null)}}
			<br>
			<br>
		{{else}}
			<b>Captain Confirmation:</b>
			<br>
			{{:helper.link('Confirm', '', {'choice' : 'cancel_departure_cap'}, 'selected')}}
			<br>
			<br>
		{{/if}}
		{{if data.sec_confirmed == 0}}
			<b>Second Confirmation:</b>
			<br>
			{{:helper.link('Confirm', '', {'choice' : 'confirm_departure_sec'}, data.is_captain ? 'disabled' : null)}}
			<br>
			<br>
		{{else}}
			<b>Second Confirmation:</b>
			<br>
			{{:helper.link('Confirm', '', {'choice' : 'cancel_departure_sec'}, 'selected')}}
			<br>
			<br>
		{{/if}}
    </div>
{{/if}}

{{if data.shuttle_mode == 7}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>The boarding procedure has begun. Gather all available crew onto the shuttle during this time.</H2>
		<br>
		<b>The Captain can cancel departure:</b>
		<br>
		{{:helper.link('Cancel', '', {'choice' : 'cancel_departure'}, !data.is_captain ? 'disabled' : null)}}
		<br>
    </div>	
{{/if}}

{{if data.shuttle_mode == 8}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>The boarding procedure has been completed. The Captain may now authorize the launch of this shuttle when all available crew are secured.</H2>
		<br>
		<b>Launch: </b>
		<br>
		{{:helper.link('Launch', '', {'choice' : 'depart'}, !data.is_captain ? 'disabled' : null)}}
		<br>
		<br>
		Caution! Make sure you are seated before launching to avoid accidents!
    </div>
{{/if}}

{{if data.shuttle_mode == 9}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>Transit in progress, remain seated.</H2>
		<br>
		<br>
    </div>
{{/if}}

{{if data.shuttle_mode == 10}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>The shuttle has arrived at the station. The shuttle will return to CENTCOM shortly, any crewmembers still on it will be returned to CENTCOM with zero pay.</H2>
		<br>
		<br>
		<b>Do not abandon the station without finding a trained replacement or starting evacuation procedure. The consequences will never be the same!</b>
    </div>
{{/if}}

{{if data.shuttle_mode == 11}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>The shuttle is returning. You failed to leave the shuttle in time, your deriliction will be logged.</H2>
		<br>
		<b>You can use the teleporter to get back to the station, hopefully your absence doesnt trigger emergency evacuation.</b>
    </div>
{{/if}}

{{if data.shuttle_mode == 12}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>The shuttle is idle. Please use the teleporter to get to the station instead.</H2>
		<br>
    </div>
{{/if}}

{{if data.shuttle_mode == 13}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>Transit in progress, remain seated.</H2>
		<br>
		<br>
    </div>
{{/if}}

{{if data.shuttle_mode == 14}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>Shuttle departure imminent.</H2>
		<br>
		<br>
    </div>
{{/if}}
{{if data.shuttle_mode == 15}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>Shuttle departure imminent.</H2>
		<br>
		<br>
    </div>
{{/if}}
{{if data.shuttle_mode == 16}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>Shuttle is incoming to the station. Prepare to assist with departure procedure.</H2>
		<br>
		<br>
    </div>
{{/if}}
{{if data.shuttle_mode == 17}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2>The shuttle has been called and is on its way to the station. Remain aboard and prepare to assist with the departure procedure,</H2>
		<br>
		<br>
    </div>
{{/if}}
{{if data.shuttle_mode == 3}}
	<div class="item">
        <b><H1>Departure Shuttle Control</H1></b>
		<br>
		<br>
		<H2></H2>
		<br>
		<br>
    </div>
{{/if}}