<h2>Employee Control Terminal</h2><br>
<hr>
<br>
{{if data.mode == 1}}
	<h3>Requests (Oldest to Newest)</h3><br>
	<hr>
	{{for data.requests}}
		{{:helper.link(value.button_name, '', {'choice' : 'view_request', 'ind' : value.ind}, null)}}<br><br>
	{{/for}}

{{/if}}	
{{if data.mode == 2}}
	{{:helper.link('Back', '', {'choice' : 'back_current'}, null)}}<br>
	<h3>{{:data.title}}</h3><br>
	<h4>Attached Documents</h4><br>
	<hr>
	{{for data.documents}}
		{{:helper.link(value.title, '', {'choice' : 'view_document', 'ind' : value.ind}, null)}}<br><br>
	{{/for}}
	<br>
	<hr>
	{{:helper.link('Approve', '', {'choice' : 'approve'}, null)}}{{:helper.link('Deny', '', {'choice' : 'deny'}, null)}}
{{/if}}		
{{if data.mode == 3}}
	{{:helper.link('Back', '', {'choice' : 'back_document'}, null)}}{{:helper.link('Print', '', {'choice' : 'print'}, null)}}<br>
	<h3>{{:data.title}}</h3><br>
	<hr>
	<div class="statusDisplay">
		{{:data.content}}
	</div>
{{/if}}