<h2>Welcome, {{:data.user_name}}</h2>
{{if data.found}}
	<h3>You are currently an <b>{{:data.cert_name}}</b></h3>
	{{:helper.link('Print ID' , 'print', {'choice' : 'print_id'}, null, null)}}
	<br>
	<hr>
	Any old ID cards will be deactivated and dissolve within seconds.
{{else}}
	<h3>No assignment found! Please speak to a Nanotransen Rep as soon as possible to have this fixed.</h3>
{{/if}}
