{{if data.printing}}
	<h5 class='average'>The computer is currently busy.</h5>
	<div class='notice'>
		<center><span class='bad'>Printing...</span></center>
	</div>
	<p>
		Thank you for your patience!
	</p>
{{else}}
	{{if !data.authenticated}}
		<b><h2>Please insert a valid security ID</h2></b>
    {{/if}}
	{{if data.authenticated}}
		<b><h2>Welcome, {{:data.scan_name}}. Remember to remove your ID when you are finished.</h2></b>
    {{/if}}
	<div class='item'>
		<div class='itemLabel'>
			ID Card:
		</div>
		<div class='itemContent'>
			{{:helper.link(data.scan_name, 'eject', {'choice' : 'scan'})}}
		</div>
    </div>
	<hr>
	{{if data.authenticated}}
		{{if data.searched}}
			<h1>Security Records</h1>
			<br>
			{{if data.failed_search}}
				<b><h2>Search</h2></b>
				<div class='itemLabel'>
					<b>Full Name</b>:
				</div>
				<div class='itemContent'>
					<input type='text' id='search_field' name='search_field'>
				</div>
				<div class='item'>
					<input type='search' value='Search'>
				</div>
			{{else}}
				<h3>Close record and search again:</h3>
				{{:helper.link(data.scan_name, 'home', {'choice' : 'reset'})}}
			{{/if}}
		{{else}}
			<b><h2>Search</h2></b>
			<div class='itemLabel'>
				<b>Full Name</b>:
			</div>
			<div class='itemContent'>
				<input type='text' id='search_field' name='search_field'>
			</div>
			<div class='item'>
				<input type='search' value='Search'>
			</div>
		{{/if}}	
		{{if data.searched}}
			{{if data.failed_search}}
				<font color='red'>No record for {{:data.search_name}}</font>.
			{{else}}
				<hr>
				<br>
				<h2><b>{{:data.search_name}} Security Record</b></h2>
				<br>
				<br>
				<h3>Criminal Status: {{:data.crim_stat}}</h3>
				{{:helper.link('Change Status', 'info', {'choice' : 'change_status'})}}
				{{if data.minor_num}}
					<h3>{{:data.minor_num}} Minor Crimes  </h3>
					{{:helper.link('View/Edit Entries', 'folder-open', {'choice' : 'view_minor'})}}
				{{else}}
					<h3><b>No Minor Crimes  </b></h3>
				{{/if}}
				{{:helper.link('Add Minor Crime', 'envelope', {'choice' : 'add_minor'})}}
				<br>
				{{if data.major_num}}
					<h3>{{:data.major_num}} Major Crimes  </h3>
					{{:helper.link('View/Edit Entries', 'folder-open', {'choice' : 'view_major'})}}
				{{else}}
					<h3><b>No Major Crimes  </b></h3>
				{{/if}}
				{{:helper.link('Add Major Crime', 'envelope', {'choice' : 'add_major'})}}
				<br>
				{{if data.note_num}}
					<h3>{{:data.note_num}} Notes  </h3>
					{{:helper.link('View/Edit Entries', 'folder-open', {'choice' : 'view_note'})}}
				{{else}}
					<h3><b>No Notes  </b></h3>
				{{/if}}
				{{:helper.link('Add Note', 'envelope', {'choice' : 'add_note'})}}
				<br>
				{{if data.logs_num}}
					<h3>{{:data.logs_num}} Status Logs</h3>
					{{:helper.link('View Entries', 'folder-open', {'choice' : 'view_note'})}}
				{{else}}
					<h3><b>No Log Entries </b></h3>
				{{/if}}
				<br>
				<hr>
				<br>
				{{if data.view_minor}}
					<h2>Minor Crimes</h2>
					<br>
					<br>
					{{for data.minor_crime}}
						<i>value.entry</i>
						{{:helper.link('Add to entry', 'envelope', {'choice' : 'edit_minor', 'entry_num' : value.num}, null)}}
						{{:helper.link('Delete entry', 'exclamation-triangle', {'choice' : 'delete_minor', 'entry_num' : value.num}, null)}}
						<hr>
						<br>
					{{/for}}
					{{:helper.link('Back', '', {'choice' : 'reset_menu'}, null)}}
				{{/if}}
				{{if data.view_major}}
					<h2>Major Crimes</h2>
					<br>
					<br>
					{{for data.major_crimes}}
						<i>value.entry</i>
						{{:helper.link('Add to entry', 'envelope', {'choice' : 'edit_major', 'entry_num' : value.num}, null)}}
						{{:helper.link('Delete entry', 'exclamation-triangle', {'choice' : 'delete_major', 'entry_num' : value.num}, null)}}
						<hr>
						<br>
					{{/for}}
					{{:helper.link('Back', '', {'choice' : 'reset_menu'}, null)}}
				{{/if}}
				{{if data.view_note}}
					<h2>Notes</h2>
					<br>
					<br>
					{{for data.note}}
						<i>value.entry</i>
						<br>
						{{:helper.link('Add to entry', 'envelope', {'choice' : 'edit_major', 'entry_num' : value.num}, null)}}
						{{:helper.link('Delete entry', 'exclamation-triangle', {'choice' : 'delete_major', 'entry_num' : value.num}, null)}}
						<hr>
						<br>
					{{/for}}
					{{:helper.link('Back', '', {'choice' : 'reset_menu'}, null)}}
				{{/if}}
				{{if data.view_logs}}
					<h2>Status Change Log</h2>
					<br>
					<br>
					{{for data.logs}}
						<i>value.entry</i>
						{{:helper.link('Delete entry', 'exclamation-triangle', {'choice' : 'delete_major', 'entry_num' : value.num}, null)}}
						<hr>
						<br>
					{{/for}}
					{{:helper.link('Back', '', {'choice' : 'reset_menu'}, null)}}
				{{/if}}
				{{if data.edit_minor}}
					<h2>Add to Entry</h2>
					<br>
					<br>
					<i>{{:data.view_entry}}</i>
					<textarea rows="15" cols="70" id='submitted'>
						Addendum:
					</textarea>
					{{:helper.link('Submit entry', 'envelope', {'choice' : 'submit_minor_edit', 'entry_num' : value.num}, null)}}
					{{:helper.link('Cancel', 'exclamation-triangle', {'choice' : 'reset_menu'}, null)}}
				{{/if}}
				{{if data.add_minor}}
					<h2>Create New Entry: Minor Crimes</h2>
					<br>
					<br>
					<i>Refer to security training documentation before creating records.</i>
					<textarea rows="15" cols="70" id='submitted'>
						Minor Crime: 
					</textarea>
					{{:helper.link('Create entry', 'envelope', {'choice' : 'submit_minor', 'entry_num' : value.num}, null)}}
					{{:helper.link('Cancel', 'exclamation-triangle', {'choice' : 'reset_menu'}, null)}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}
