<h3>{{:data.name}}'s Current Stats</h3>
	<h2>(Grit: {{:data.grit}}) Grit affects:</h2> Ability to pull and push/Carry equipment/Melee damage/Strength actions
	<h2>(Fortitude: {{:data.fortitude}}) Fortitude affects:</h2> Less stamina loss/Withstand pain/Sprint longer/Endurance actions
	<h2>(Reflex: {{:data.reflex}}) Reflex affects:</h2> Attack speed/Weapon accuracy/Consturction actions/Precision actions
	<h2>(Creativity: {{:data.creativity}}) Creativity affects:</h2> Intelligence or thinking actions/Bonus to EXP earned
	<h2>(Focus: {{:data.focus}}) Focus affects:</h2> Less will loss/Withstand mental trauma/Tedious or mentally draining actions
	<br><br>
	<h2>Experience to next level</h2>
	<h2>0 / 500<h2>